# Editor Files
.vscode/*
!.vscode/extensions.json
.ipynb_checkpoints

# OS Files
.DS_Store

# Python Files
# Caches
__pycache__
# Virtual Environment
.env
.venv
env
venv

# Pywikibot Files
apicache
pywikibot*
throttle.ctrl
user-config.py

# Data
*test-parse.ndjson
*all.json.bz2
