# Editor files
##############
.vscode/
.ipynb_checkpoints

# OS files
##########
.DS_Store

# Python files
##############
# Caches
__pycache__
# Virtual Environment
.env
.venv
env
venv

# Data
######
*test-dump.ndjson
*all.json.bz2
